<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://declutter.ross-mccallum.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://declutter.ross-mccallum.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>rossmcdev-001-subsite6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\rossmcdev-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_A12AA1_DeclutterEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EClutter.Models.DB_A12AA1_DeclutterEntities, EClutter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DeclutterDBEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5016.SmarterASP.NET;Initial Catalog=DB_A12AA1_Declutter;User ID=DB_A12AA1_Declutter_admin;Password=aerobolt4" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DeclutterDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ClutterCase.csdl|res://*/Models.ClutterCase.ssdl|res://*/Models.ClutterCase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5016.SmarterASP.NET;Initial Catalog=DB_A12AA1_Declutter;User Id=DB_A12AA1_Declutter_admin;Password=aerobolt4;&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_A12AA1_DeclutterEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="DeclutterDBEntities1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>